flask
flask-admin
flask-babelex
flask-migrate
psycopg2
flask-sqlalchemy
-e git://github.com/mgood/flask-debugtoolbar.git@02ff95acdea7b14e033ff3af139550cc14401ab4#egg=Flask_DebugToolbar
-e git://github.com/edouardberthe/flask-security.git@4458bfbb516561b9eb87f6383b1c10c5380ab4bd#egg=Flask_Security
