<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Corporation">
        <meta name="author" content="Edouard BERTHE <berthe.ed@gmail.com>">

        <title>Corp. - Online Company Management Game</title>

        {% block head_css %}

            <link href="{{ url_for('static', filename='bower/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='bower/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='bower/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='bower/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <style>
                body {
                    padding-top: 4px;
                }
            </style>
        {% endblock %}

    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">RemindMeal</a>
                </div>

                {% include 'navbar.html' %}

                {% include 'nav.html' %}

            </nav>
        </div>
        <!-- /#wrapper -->

        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block head_body %}{% endblock %}</h1>
                </div>
            </div>

            {% block body %}{% endblock %}

        </div>


    {% block javascript %}

        <script src="{{ url_for('static', filename='bower/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower/moment/min/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower/metisMenu/dist/metisMenu.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

    {% endblock %}

    {% block tail %}
    {% endblock %}

    </body>

</html>
